@import 'footer';
@import 'contaktForm';
@import 'media_queries';

$columnNo: 12;
$gutter: 20px;

/* ------ GRID ------ */
@for $i from 1 through $columnNo {
	.col-xsm-#{$i} {
		width: 100/$columnNo * $i + %;
	}
}
@include phone {
	@for $i from 1 through $columnNo {
		.col-sm-#{$i} {
			width: 100/$columnNo * $i + %;
			.sliderPhone {
				margin-top: 30%;
			}
			.sliderTextSmall {
				font-size: 35px;
				line-height: 37px;
			  display: block;
			}
			//AboutMe
			table {
				margin-top: 20%;
				td {
				font-size: 21px;
			}
			}
			.tableBox {
		  	line-height: 37px;
		  	color: white;
		    position: absolute;
		   td {
		     border-bottom: 1px solid rgba(0,0,0,.1);
		     padding: 10px 5px;
		     }
		  }
			.textContent {
				font-size: 20px;
				line-height: 20px;
				text-align: justify;
  		  text-justify: inter-word;
			}
			//Biography
			.offerOpacityBox{
			  border-radius: 5px;
			  height: 60px;
			  margin-top: -41%;
			  margin-left: -15%;
			  z-index: 1;
			}
			.offerBox {
			  line-height: 27px;
			  color: white;
			  letter-spacing: 0.02em;
			  margin-top: 12%;
			  height: 80vh;
			  overflow: hidden;
			  padding: 2%;
			}
			.offerHeaderName {
				font-size: 21px;
				margin-top: 55%;
			  margin-left: -3%;
				width: 100%  ;
			}
			.offerText {
	    	padding-left: 10%;
			}
			.offerOpacityBox {
				margin-right: -15%;
				margin-top: -62%;
			}
			.quoteData {
			  margin-top: 104%;
			}

			.headerPhone {
				margin-bottom: 20%;
			}
			.imgCollection {
			  width: 350px;
			  height: 504px;
			}
			.timelineDate:after {
			    border-bottom: 1px solid #000;
			    content: "";
			    position: absolute;
			    width: 92%;
			    top: 50%;
			}
			.opacityDiv {
				margin-top: -11%;
		    height: 80vh;
			}
			.overflow {
				height:100vh;
			}
			.marginTop {
				margin-top: -3%;
			}
			.quoteData {
			  border-top: 1px solid silver;
			  border-bottom: 1px solid silver;
			  line-height: 37px;
				margin-top: 69%;
				color: white;
				letter-spacing: 0.02em;
				font-family: Montserrat;
			}
			//Idea
			.actBox {
			  color: #626262;
				letter-spacing: 0.02em;
				margin-top: -90%;
				line-height: 37px;
			}
			//Contact
			.boxContact   {
			 	margin-top: 25%;
				.labelText{
					margin-left: 10%;
				}
			 }
			 .boxContactHidden {
				 margin-top: 50%;
			 }
		}
	}
}
@include tablet {
	@for $i from 1 through $columnNo {
		.col-md-#{$i} {
			width: 100/$columnNo * $i + %;
			.sliderPhone {
				margin-top: 30%;
			}
			.sliderTextSmall {
				font-size: 35px;
				line-height: 37px;
			  display: block;
			}
			//AboutMe
			table {
				margin-top: 18%;
				td {
					font-size: 18px;
				}
			}
			.tableBox {
		  	line-height: 37px;
		  	color: white;
			  position: absolute;
		   td {
		     border-bottom: 1px solid rgba(0,0,0,.1);
		     padding: 10px 5px;
		     }
		  }
			.offerText {
			  font-size: 20px;
				overflow: scroll;
			}
			.offer {
			  margin-right: 5%;
			}
			.offerOpacityBox{
			  border-radius: 5px;
			  height: 60px;
			  margin-top: -41%;
			  margin-left: -15%;
			  z-index: 1;
			}
			///Fashion
			.textContent {
				font-size: 18px;
				line-height: 20px;
				text-align: justify;
  		  text-justify: inter-word;
			}
			.offerBox {
			  line-height: 27px;
			  color: white;
			  letter-spacing: 0.02em;
			  margin-top: 12%;
			  height: 80vh;
			  overflow: hidden;
			  padding: 2%;
			}
			.quoteData {
			  border-top: 1px solid silver;
			  border-bottom: 1px solid silver;
			  line-height: 37px;
				margin-top: 69%;
				color: white;
				letter-spacing: 0.02em;
				font-family: Montserrat;
			}
			.quoteNumber {
			  color: #ababab;
			  line-height: 34px;
			  font-size: 28px;
			}
			.lineHeight {
				overflow: hidden;
				height: 100%;
			}
		}
	}
}
@include desktop {
	@for $i from 1 through $columnNo {
		.col-lg-#{$i} {
			width: 100/$columnNo * $i + %;
			.nav {
			  position: fixed;
			  background-color: white;
			  border-right: 1px solid silver;
			  height: 100%;
				display: block;
			}
			.sliderTextSmall {
				font-size: 35px;
				line-height: 37px;
			  display: block;
			}
			.sliderText {
				margin-top: 10%;
			}
			//AboutMe
			table {
				margin-top: 12%;
				td {
				font-size: 17px   ;
				}
			}
			.boxContent {
		    margin-top: 5%;
		  }
			//Biography
			.offerBox {
			  line-height: 27px;
			  color: white;
			  letter-spacing: 0.02em;
			  margin-top: 12%;
			  height: 80vh;
			  overflow: hidden;
			  padding: 2%;
			}
			.offerHeaderName  {
			  font-size: 16px;
			}
			.offerOpacityBox{
			  margin-top: -41%;
			}
			.offerText {
			  font-size: 17px;
				text-align: justify;
  		  text-justify: inter-word;
			}
			.offerOpacityBox{
			  border-radius: 5px;
			  height: 80px;
			  margin-top: -41%;
			  margin-left: -15%;
			  z-index: 1;
			}
			///Fashion
			.textContent {
				font-size: 16px;
				text-align: justify;
  		  text-justify: inter-word;
			}
			.boxContent {
		  	line-height: 27px;
		  	color: black;
		    position: absolute;
		    margin-top: 7%;
		    margin-bottom: 15%;
		  }
			.quoteData {
			  border-top: 1px solid silver;
			  border-bottom: 1px solid silver;
			  line-height: 37px;
				margin-top: 33%;
				color: white;
				letter-spacing: 0.02em;
				font-family: Montserrat;
			}
			.lineHeight {
				overflow: hidden;
			}
			//Collection
			.overflow {
			  height: 400px;
			}
			.opacityDiv {
			  width: 87%;
			  margin-top: 3%;
			  height: 420px;
			}
			.headerPhone {
				margin-bottom: 5%;
			}
			.margin-right:hover {
			  opacity: 1;
			}
			.timelineDate:after {
			    width: 67%;
			    top: 50%;
			}
			.marginTop {
			  margin-top: 3%;
			}
			.imgCollection {
			  width: 200px;
			  height: 291px;
			}
			.imgCollection:hover {
			  width: 250px;
			  height: 360px;
			  transition: width 1s;
			}
			///Idea
			.actText {
			  line-height: 35px;
			}
			.actBox {
				margin-top: -55%;
				line-height: 37px;
			}
			//Contact
			.labelText {
			  font-size: 16px;
			  margin-left: 1.9%;
			  color: grey;
			  display: block;
			}
			.boxContact {
			  margin-top: 2%;
			  display: block;
			  .inputBox {
			    margin-bottom: 15%;
			    line-height: 0;
			    border-radius: 2px;
			  }
				.labelText{
					margin-left: 4%;
				}
			}
			.labelTextMessage {
			  margin-top:3%;
			  }
			.quoteNumber {
				 color: #ababab;
				 line-height: 34px;
			  font-size: 28px;
			}
		}
	}
}

.row:before,
.row:after {
  content: '';
  clear: both;
  display: table;
}
[class*='col-'] {
  float: left;
  min-height: 1px;
  min-height: 1px;
	}
.collapsed {
  padding: 0;
}


* {
  box-sizing: border-box;
	margin: 0;
}
body {
	font-family: 'Quicksand', serif;
  font-size: 14px;
	background-color: #f7f7f7;
}

/* ------ LogotypeMain ------ */
.logoImg {
  width: 100%;
}
.logoBox {
  padding: 68px 0 32px;
  text-align: center;
}
.logoText {
    list-style: none;
    text-decoration: none;
    color: #626262;
    font-size: 15px;
  }
.logoTextName {
  font-size: 27px;
  font-family: Sacramento;
  padding-left: 5px;
  padding-right: 5px;
}

/* ------ SectionNav ------ */
.nav {
  position: fixed;
  background-color: white;
  border-right: 1px solid silver;
  height: 100%;
}
.navList  {
  padding: 0;
  list-style: none;
  .paddingTop {
    margin-top: 60px;
  }
}
.decoration {
  display: block;
  line-height: 60px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  width: 90%;
  font-size: 13px;
  padding-left:  25px;
  text-decoration: none;
  color: black;
}
.decoration:before {
  content: "- ";
  color: #626262;
  font-size: 20px;
  padding-right: 7px;
}
.hover:hover {
  color: #626262;
	background-color: 'silver';
}
.hoverLogo:hover {
  color: silver;
}
.mainFloatRight {
  float: right;
}

/* ------ SliderHome ------ */
.heightImgSH {
  background-image: url('https://s-media-cache-ak0.pinimg.com/originals/f3/cd/d5/f3cdd55111a32999cc04bff4f1944d41.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}
.sliderList  {
  list-style: none;
  padding: 0;
  height: 100%;
}
.sliderPhone {
	margin-top: 40%;
}
.sliderText {
	line-height: 37px;
	color: white;
  position: absolute;
  margin-top: 35%;
  display: block;
}
.sliderTextSmall {
	font-size: 35px;
	line-height: 37px;
  display: none;
}
.sliderTextLarge {
	font-size: 50px;
	line-height: 55px;
	margin-bottom: 20px;
	font-weight: 600;
  display: block;
}
.sliderTextMiddle {
	font-size: 13px;
  color: white;
	letter-spacing: 7px;
	font-weight: 200;
	line-height: 23px;
	background-color: black;
	padding: 5px 15px;
  text-align: center;
}
/* ------ AboutMe ------ */
.heightImgAM {
  background-image: url('https://i1.wp.com/www.uselessdaily.com/wp-content/uploads/2017/07/alexander-mcqueen-biopic-0.jpg?resize=700%2C300&ssl=1');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}
.headerText {
 	font-size: 28px;
  line-height: 34px;
  font-weight: bold;
  color: white;
  font-family: "Lato", sans-serif;
}
.headerTextBlack {
  color: black;
}
.headerText::before {
	border-bottom: 4px solid red;
 	content: "";
	margin-left: -25px;
  position: absolute;
	top: 15px;
	width: 12px;
}
.headerBox {
	line-height: 37px;
	color: white;
  position: absolute;
  margin-top: 8%;
  display: block;
}
.relative {
  position: relative;
}
.textContent  {
 	line-height: 22px;
 	font-size: 15px;
  color: white;
	text-align: justify;
	text-justify: inter-word;
 }
.boxContent {
 	line-height: 27px;
 	color: black;
  position: absolute;
  margin-top: 7%;
  display: block;
}
.tdHidden {
	 display: none;
}
.tableBox {
 	line-height: 37px;
 	color: white;
  position: absolute;
  td {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 5px;
    font-size: 16px;
    }
}

 /* ------ Biography ------ */
.heightImgBg {
  background-image: url('http://4.bp.blogspot.com/-HxoEqfSV0KI/UWxysE-BcHI/AAAAAAAAJxk/4OxCzfzFdUY/s1600/AdorningTheQueen.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.offerBox {
  line-height: 27px;
  color: white;
  letter-spacing: 0.02em;
  margin-top: 2%;
  height: 55vh;
  overflow: scroll;
  padding: 2%;
	padding-bottom: 50%;
}
.offerNameBox {
  margin-top: 6%;
  display: inline-grid;
}
.offerHeaderName  {
  display: block;
	color: white;
  font-size: 16px;
  border-bottom: 1px solid white;
  width: 100%;
  text-align: center;
	padding-right: 10%;
}
.offerOpacityBox:hover{
  opacity: 0.2;
  background-color: silver;
}
.offerBoxActive{
  opacity: 0.2;
  background-color: silver;
}
.offerOpacityBox{
  border-radius: 5px;
  height: 40px;
  margin-top: -51%;
  margin-left: -15%;
	margin-right: -15%;
  z-index: 1;
}
.offer {
  margin-right: 15%;
}
.offerText {
  margin-top: 2%;
  padding-left: 5%;
  overflow: scroll;
  font-size: 17px;
		visibility: hidden;
    animation-name: showup;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes showup {
  from {
    opacity: 0;
    visibility: hidden
  }
  to {
    opacity: 1;
    visibility: visible
  }
}
.offerVisible {
  display: none;
}

 /* ------ Fashion ------ */
.heightImgFashion {
 	background-image: url('https://pmcwwd.files.wordpress.com/2017/03/a-mcqueen-det-030617-ar0922.jpg?w=1024');
 	height: 100vh;
 	background-size: cover;
 	overflow: hidden;
 }
.lineHeight {
	line-height: 18px;
	font-size: 18px;
	overflow: scroll;
	height: 270px;
	padding-bottom: 50%;
}
.quoteNumberFashion {
  color: #ababab;
  font-size: 18px;
}
.quoteText {
  font-size: 13px;
  text-transform: uppercase;
  padding: 0;
  display: block;
  padding-left: 5%;
  line-height: 23px;
	width: 100%;
}
.quoteData {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  font-size: 10px;
	margin-top: 99%;
	color: white;
	letter-spacing: 0.02em;
	font-family: Montserrat;

}
.marginBottom {
  margin-bottom: 2%;
  margin-top: 2%;
}
.boxContentFashion {
	margin-top: 15%;
	line-height: 5px;
}

 /* ------ Collection ------ */
.heightImgCollection {
  background-image: url('http://media2.s-nbcnews.com/j/MSNBC/Components/Slideshows/_production/ss-100211-Alexander-McQueen/ss-100211-Alexander-McQueen-2003-show.today-ss-slide-desktop.jpg');
 	height: 100vh;
  background-size: cover;
  overflow: hidden;
}
.overflow {
  overflow: scroll;
  overflow-y: hidden;
  width: 86%;
  height: 400px;
  display: flex;
  padding: 1%;
  position: absolute;
  z-index: 999;
}
.opacityDiv {
  position: absolute;
  width: 87%;
  margin-top: 3%;
  height: 420px;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
}
.margin-right  {
  margin-right: 7%;
  opacity: 0.9;
}
.margin-right:hover {
  opacity: 1;
}
.timelineHeader {
  color: white;
  display: block;
  line-height: 23px;
  font-size: 16px;
  height: 30px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}
.timelineDate {
    padding: 0 13px;
    font-size: 15px;
    margin: 10px 0 15px 0;
    display: block;
    position: relative;
    background-color: black;
    color: white;
    width: 200px;
    font-weight: 200;
    text-align: center;

}
.timelineDate:after {
    border-bottom: 1px solid #000;
    content: "";
    position: absolute;
    width: 75%;
    top: 50%;
}
.marginTop {
  margin-top: 3%;
}
.imgCollection {
  width: 200px;
  height: 291px;
}
.imgCollection:hover {
  width: 250px;
  height: 360px;
  transition: width 1s;
}

 /* ------ Idea ------ */
.heightImgIdea {
  background-image: url('http://www.schonmagazine.com/wp-content/uploads/2015/08/Tracy-Ann-Oberman-as-Isabella-Blow-and-Stephen-Wight-as-Lee-in-McQueen-credit-Specular-2.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}
.actBox {
  color: #626262;
	letter-spacing: 0.02em;
	margin-top: -160%;
	line-height: 37px;
}
.actText {
  line-height: 25px;
  font-size: 17px;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  padding-right: 50px;
  display: block;
  text-align: right;
}
.actTexSmall {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 23px;
  text-align: right;
  padding-right: 50px;
  display: block;
}

 /* ------ Contact ------ */
.heightImgContact {
  background-image: url('http://wallpapercave.com/wp/wkjs1Ur.jpg');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}
.boxContentContact {
 margin-top: 15%;
}
.textBlack {
	color: black;
}
.boxContentContact {
  margin-top: 15%;
}
